
<footer class="container">
  <div class="container2">
      <div class="logo-section">
          <h2>DELICIA WEB</h2>
      </div>
      <hr />
      <div class="members-section">
          <h3>INTEGRANTES</h3>
          <p>DAVILA MEDINA MIGUEL ANGEL</p>
          <p>RIZO LINDAO PAUL ALEXANDER</p>
          <p>SUAREZ SOLIS JOSUE EMANUEL</p>
          <p>Guayaquil - Ecuador</p>
      </div>
      <hr />
      <div class="copyright-section">
          <p>&copy; 2023 <span>Delicia Web </span> - Derechos Reservados</p>
          <p>Creada por el Grupo 2</p>
      </div>
  </div>
</footer>
  
