<div id="cuerpo">
    <h2 class="titulo-pagina">Restaurante Disponibles Ahora</h2>
    <section class="contenedor">
        <div class="cuadro-informacion">
            <mat-card class="example-card">
                
                <mat-card-content>
                    <div class="contenido">
                        <img src="assets/restaurante1.jpg" class="side-image">
                        <div>
                            <div class="titulo">
                                <h4>La parrillada del ñato</h4>
                            </div>
                            <div class="estrellas">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div>
                            <div class="ubicacion">
                                <mat-icon> place</mat-icon>
                                <p>Av. Francisco de Orellana</p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="btn">Reservar</button>
                  <button mat-button align="end"(click)="Resenia1()" class="btn">Comentar y calificar</button>
                </mat-card-actions>
              </mat-card>             
        </div>   
        <div class="cuadro-informacion">
            <mat-card class="example-card">
                <mat-card-content>
                    <div class="contenido">
                        <img src="assets/restaurante2.jpg" class="side-image">
                        <div>
                            <div class="titulo">
                                <h4>El café de Tere</h4>
                            </div>
                            <div class="estrellas">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div> 
                            <div class="ubicacion">
                                <mat-icon> place</mat-icon>
                                <p>Av. Hno Miguel Solar</p>
                            </div>                          
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btn">Reservar</button>
                    <button mat-button align="end" class="btn">Comentar y calificar</button>
                </mat-card-actions>
              </mat-card>             
        </div> 
        <div class="cuadro-informacion">
            <mat-card class="example-card">
                <mat-card-content>
                    <div class="contenido">
                        <img src="assets/restaurante3.webp" class="side-image">
                        <div>
                            <div class="titulo">
                                <h4>El Corral</h4>
                            </div>
                            <div class="estrellas">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div>
                            <div class="ubicacion">
                                <mat-icon> place</mat-icon>
                                <p> Mall Del Sol</p>
                            </div>                 
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btn">Reservar</button>
                    <button mat-button align="end" class="btn">Comentar y calificar</button>
                </mat-card-actions>
              </mat-card>             
        </div>
        <div class="cuadro-informacion">
            <mat-card class="example-card">
                <mat-card-content>
                    <div class="contenido">
                        <img src="assets/restaurante4.jpg" class="side-image">
                        <div>
                            <div class="titulo">
                                <h4>Casa Julian</h4>
                            </div>
                            <div class="estrellas">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>  
                            </div> 
                            <div class="ubicacion">
                                <mat-icon> place</mat-icon>
                                <p>KM 1.5 Vía Samborodón</p>
                            </div>    
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btn">Reservar</button>
                    <button mat-button align="end" class="btn">Comentar y calificar</button>
                </mat-card-actions>
              </mat-card>             
        </div>    
    </section>
    <section class="info">
        <h2>Alrededor del Ecuador</h2>
        <nav>
            <ul>
                <li>Guayas</li>
                <li>Pichincha</li>
                <li>Azuay</li>
                <li>Manabí</li>
                <li>Esmeraldas</li>
            </ul>
        </nav>
    </section>
</div>   
