<mat-toolbar class="bgColor">
    <button mat-button class="webPage">DeliciaWeb</button>
  <span class="example-spacer"></span>
  <span *ngIf="!infoService.isLogged" class="usuario">Bienvenido, </span>
  <div *ngIf="!infoService.isLogged">
    <button mat-raised-button class="btnColor" (click)="inicio()">Inicio</button>
    <button mat-raised-button class="btnColor" (click)="perfil()">Perfil</button>
    <mat-menu #menuUsuario="matMenu">
      <button mat-menu-item>Nuevo</button>
      <button mat-menu-item>Consultar</button>
      <button mat-menu-item>Eliminar</button>
    </mat-menu>
    <button mat-raised-button class="btnColor" mat-button [matMenuTriggerFor]="menuReserva">Reserva</button>
    
    <mat-menu #menuReserva="matMenu">
      <button mat-menu-item (click)="NuevaReserva()">Agendar</button>
      <button mat-menu-item (click)="ConsultarReserva()">Consultar</button>
    </mat-menu>
  </div>

  

<button mat-raised-button class="btnColor" *ngIf="infoService.isLogged" (click)="Login()">Iniciar Sesión</button>
</mat-toolbar>