<div class="contgeneral">
  <div class="contimagen">
    <img class="imagenprincipal" src="assets/Banner.avif" alt="" />
    <div class="texto-superpuesto">
      Explora con nosotros el festín de la buena comida. Reseñas que despiertan
      tus sentidos y guían tu paladar.
    </div>
  </div>
  <div class="informacion">
    <div class="textoinformacion">
      <h4>Reserva en nuestros Restaurantes</h4>
      <p>
        ¡Bienvenido a Delicia Web! Descubre la forma más fácil y conveniente de
        disfrutar de tus comidas favoritas en los mejores restaurantes de la
        ciudad. Nuestra plataforma te permite reservar mesas en tiempo real,
        evitando esperas innecesarias y asegurándote una experiencia
        gastronómica sin contratiempos. Explora una amplia variedad de
        restaurantes, desde acogedores rincones hasta elegantes
        establecimientos, y reserva tu mesa con tan solo unos clics. ¡Haz que
        cada comida sea una experiencia inolvidable con Delcia Web!"
      </p>
      <p>
        Conoce mas acerca de nosotros
        <button mat-raised-button color="primary">LEER</button>
      </p>
    </div>
    <aside class="textoimagen">
      <img class="imgtexto" src="assets/ReservaImg.png" alt="" />
    </aside>
  </div>
</div>
